<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/iconos/favicon.ico') }}"/>

        <link rel="stylesheet" href="{{ asset('Componentes_externos/Bootstrap_4.4.1/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('Componentes_externos/Fonts/Raleway/Raleway_webfontkit.css') }}">

        {% block estilos %}{% endblock %}
    </head>
    <body>
        {% block contenido %}
            <h1>Sembrando con amor</h1>
        {% endblock %}

        <script src="{{ asset('Componentes_externos/JQuery/jquery-3.4.1.js') }}"></script>
        <script src="{{ asset('Componentes_externos/Bootstrap_4.4.1/js/bootstrap.bundle.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
